* {
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

/*HEADER*/
header {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100px;
}

.admin {
  justify-content: flex-end;
  margin: 5px 5px;
  display: inline-flex;
}

h1 {
  margin: 0px;
  margin-right: unset;
  line-height: 0em;
}

h2 {
  font-weight: 700;
  margin: 5px 5px;
  font-size: 2.5em;
}

h4{
  display: inline-block;
  margin: 0rem 1rem;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-top: auto;
  padding: 10px;
}

.headline {
  background-color: #ECECEC;
  padding: 1em;
  width: 100%;
}

img {
  width: 20px;
  height: 20px;
  margin: 0px 10px;
}





/*MAIN*/
main {
  background-color: #ECECEC;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

article {
  background-color: white;
  height: 350px;
  margin: 5px;
  width: 250px;
  box-shadow: 2px 1px 1px gray;
}

/*CARD TEXT*/
h3 {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0px 10px;
  margin-top: 10px
}

p {
  margin: 2px 10px;
}

.light-weight{
  font-weight: 200;
  font-size: .8em;
}

.card-text-wrap {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
}

.subtext {
  color: #999999;
  font-size: .7rem;
  line-height: 1rem;
  margin: 0px 10px;
}

.text-patch {
  background-color: #ECECEC;
  color: black;
  font-size: .7em;
  margin: 5px 10px;
  padding: 5px;
}

.small-caps {
  color: #505050;
  font-variant: small-caps;
  margin-top: 10px;
  font-weight: 700;
}

.numeral {
  color: red;
  font-weight: 700;
  font-size: 2em;
}

/*PHOTOS*/
.photo-image {
  background-size: cover;
  color: white;
  height: 33%;
  justify-content: flex-end;
  width: 100%;
  padding: 5px;
}

#photo-image1 {
  background-image: url('images/pexels-photo-247917.jpg');
}

#photo-image2 {
  background-image: url('images/pexels-photo-373899.jpg');
}

#photo-image3 {
  background-image: url('images/pexels-photo-428333.jpg');
}

#photo-image4 {
  background-image: url('images/miller.jpg');
}

#photo-image5 {
  background-image: url('images/pexels-photo-428341.jpg');
}

#photo-image6 {
  background-image: url('images/kushner.jpg');
}

#photo-image7 {
  background-image: url('images/pexels-photo-450271.jpg');
}

#photo-image8 {
  background-image: url('images/black-cat-costume.jpg');
}


/*MEDIA QUERIES*/
@media and 938